/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

/* Define custom properties */
:root {
  --one-purple: #a348ad;
  --two-purple: #322a36;
  --three-purple: #dfacf3;
  ---four-purple: #4d494e;
  --base-gray: #343a40;
  --highlight-color: #ffc107;
  --white: #ffffff;
  --font-family: 'Arial', sans-serif;
}

/*Common Properties*/
/*#############################################################################################

\/* Primary Button */
.page {
  background-color: #2b2b2b;  /* Default background color */
}

.primaryButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, var(--three-purple) 0, var(--one-purple) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin:5px
}

.primaryButton:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.primaryButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.primaryButton:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}

/* Secondary Button */
.secondaryButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, var(--three-purple) 0, var(---four-purple) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin:5px
}

.secondaryButton:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.secondaryButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.secondaryButton:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}

/* Responsive form control */
@media (min-width: 768px) {
  .form-control {
    font-size: 1.25rem; /* Adjust font size for larger screens */
  }
}


/* Navbar Styles */
/* ############################################################################################### */
.navbar-custom {
  background-color: var(--base-gray); /* Dark grey background */
  /*height: 75px;*/
}

.navbar-custom .navbar-brand {
    color: var(--one-purple); /* Light text color for the brand */
    font-weight: bold; /* Make the brand text bold */
    font-family: 'Pacifico', cursive;
    font-size: 2rem; /* Increase the font size */
    font-weight: 400;
    text-shadow: 2px 2px 4px #fff; /* Add white shadow */
    letter-spacing: 0.1em; /* Increase letter spacing */
}
  
.navbar-custom .nav-link-button {
  background-color: var(--one-purple);
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: var(--white);
  display: flex;
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1.2rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none var(--white) solid;
  text-decoration-thickness: auto;
  width: auto; /* Adjusted to fit nav-link */
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
}

.navbar-custom .nav-link:hover {
  color: #d1b4d4f1; /* Change color on hover */
}

.navbar-custom .nav-link-button:focus {
  outline: 0;
}

.navbar-custom .nav-link-button:after {
  content: '';
  position: absolute;
  border: 1px solid var(--white);
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.navbar-custom .nav-link-button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .navbar-custom .nav-link-button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}







/* Searchbar Styles */
/* ############################################################################################### */
.search-bar {
  background-color: #515963; /* Change this to your preferred background color */
  padding: 1rem 0;
}

.search-bar .search-bar-form {
  display: flex;
}

.search-bar .form-control {
  background-color: #fff; /* Change this to your preferred form background color */
  font-family: 'Roboto', sans-serif; /* Change this to your preferred font */
  font-size: 1rem; /* Adjust font size */
  color: #000; /* Change this to your preferred text color */
}

.search-bar .button-search {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, var(--three-purple) 0, var(--one-purple) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.search-bar .button-search:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.search-bar .button-search:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.search-bar .button-search:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}

/* Clear button specific styles */
.search-bar .button-clear {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, var(--three-purple) 0, var(---four-purple) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.search-bar .button-clear:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.search-bar .button-clear:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.search-bar .button-clear:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}

@media (min-width: 768px) {
  .search-bar .form-control {
    font-size: 1.25rem; /* Adjust font size for larger screens */
  }
}






/* Grid Card Component */
/* ############################################################################################### */
/* Grid Card Body */
/* Grid Card Body */
.grid-card-body {
  border: 10px solid #f50c0c; /* Darker border for the card */
  border-radius: 10px;
  overflow: hidden; /* Ensure content doesn't overflow */
  transition: transform 0.2s, box-shadow 0.2s;
  height: 500px; /* Fixed total height for the card */
  display: flex;
  flex-direction: column;
  transform-origin: center; /* Scale from center */
}

/* Hover Effect */
.grid-card-body:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transform: scale(1.02); /* Slightly larger on hover */
  border: 2px solid black;
}

/* Padding for Cards */
.card-container {
  padding: 5px; /* Space between cards */
}

/* Card Image: Poster */
.grid-card-image.poster {
  border-radius: 8px 8px 0 0; /* Rounded corners on the top */
  width: 100%;
  height: 400px; /* Fixed height for poster images */
}

/* Card Image: Album */
.grid-card-image.album {
  border-radius: 8px; /* Rounded corners for square images */
  width: 100%;
  height: 275px; /* Fixed height for square images */
}

/* Card Content */
.grid-card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow content to grow to fill available space */
}

/* Title Style */
.grid-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin: 0; /* Remove default margins */
  line-height: 1.3; /* Adjust line height if necessary */
  height: 60px; /* Adjusted height for title */
  overflow: hidden; /* Hide text that overflows */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
  white-space: normal; /* Allow text to wrap onto multiple lines */
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.grid-card-creator {
  font-size: 1.00rem;
  text-align: center;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}






/* Login page */
/* ############################################################################################### */
/* Page Background */
.login-page {
  background: linear-gradient(to right, #6a11cb, var(--two-purple)); /* Example gradient background */
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header Style */
.login-page .header-title {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  text-align: center;
}

/* Form Styles */
.login-page .form-control {
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
}

.login-page .form-control:focus {
  border-color: #2575fc;
  box-shadow: 0 0 0 0.2rem rgba(37, 117, 252, 0.25);
}

/* Login Button Style */
.login-page .button-login {
  background-image: radial-gradient(100% 100% at 100% 0, var(--three-purple) 0, var(--one-purple) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  height: 48px;
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  text-align: center;
  line-height: 1;
  padding: 0 16px;
  transition: box-shadow .15s, transform .15s;
}

.login-page .button-login:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.login-page .button-login:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}

/* Create Account Button Style */
.login-page .button-create-account {
  background-image: radial-gradient(100% 100% at 100% 0, var(--three-purple) 0, var(--four-purple) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  height: 48px;
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  text-align: center;
  line-height: 1;
  padding: 0 16px;
  transition: box-shadow .15s, transform .15s;
}

.login-page .button-create-account:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.login-page .button-create-account:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}

/* Apply unique styles to the login page */
.login-page .btn {
  width: 100%;
  margin-top: 1rem;
}

.login-page .form-label {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  color: #fff;
}

/* DETAIL PAGE */
/* src/components/DetailCard.css */
.detail-container {
  margin-top: 5rem;
}

.detail-card {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to right, #141e30, #243b55);
}

.detail-card-container {
  display: flex;
}

.detail-image {
  width: 250px;
  height: 360px;
  margin-right: 20px;
}

.detail-body {
  flex: 1;
}

.detail-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.detail-text {
  margin-top: 10px;
  font-size: 1rem;
  color: white;
}

.detail-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

/* Specific styles for different media types if needed */
.detail-image-album {
  width: 250px;
  height: 250px;
}

.futuresButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #bfbdc0 0, var(--one-purple) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin:5px
}

.futuresButton:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.futuresButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.futuresButton:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}




/**/
.currentButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #bfbdc0 0, blue 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin:5px
}

.currentButton:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.currentButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.currentButton:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}


/**/
.completedButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #bfbdc0 0, rgb(13, 71, 13) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin:5px
}

.completedButton:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.completedButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.completedButton:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}

.reviewButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #bfbdc0 0, #cc890d 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin:5px
}

.reviewButton:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.reviewButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.reviewButton:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}