/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

/* Define custom properties */
:root {
  --one-purple: #84308d;
  --two-purple: #322a36;
  --three-purple: #dfacf3;
  ---four-purple: #392d3b;
  --base-gray: #343a40;
  --highlight-color: #ffc107;
  --white: #ffffff;
  --font-family: 'Arial', sans-serif;
  --base-gradient: linear-gradient(to bottom, #413544, #020618);
}

/*Common Properties*/
/*############################################################################################# */

body {
  background-color: #5c5c5c !important; /* Replace with your desired background color */
}

/* Buttons */

.primaryButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, var(--three-purple) 0, var(--one-purple) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(10, 10, 10, 0.4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin:5px
}

.primaryButton:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.primaryButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.primaryButton:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}

/* Secondary Button */
.secondaryButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, var(--three-purple) 0, var(---four-purple) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin:5px
}

.secondaryButton:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.secondaryButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.secondaryButton:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}

.futuresButton, .currentButton, .completedButton, .reviewButton {
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 5px;
}

.futuresButton {
  background-image: radial-gradient(100% 100% at 100% 0, #bfbdc0 0, #cc890d 100%);
}

.currentButton {
  background-image: radial-gradient(100% 100% at 100% 0, #bfbdc0 0, blue 100%);
}

.completedButton {
  background-image: radial-gradient(100% 100% at 100% 0, #bfbdc0 0, rgb(13, 71, 13) 100%);
}

.reviewButton {
  background-image: radial-gradient(100% 100% at 100% 0, #bfbdc0 0, var(--one-purple) 100%);
}

/* Hover and Active States */
.completedButton:hover, .currentButton:hover, .futuresButton:hover, .reviewButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.completedButton:active, .currentButton:active, .futuresButton:active, .reviewButton:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}




/* Responsive form control */
@media (min-width: 768px) {
  .form-control {
    font-size: 1.25rem; /* Adjust font size for larger screens */
  }
}

/* Oval Form Control Styling */
.oval-form-control {
  border-radius: 25px; /* Makes the form control oval-shaped */
  padding: 10px 20px; /* Adds padding inside the form control */
  border: 2px solid #3498db; /* Change the border color */
  background-color: #ecf0f1; /* Change the background color */
  font-family: 'Arial, sans-serif'; /* Change the font family */
  color: #2c3e50; /* Change the font color */
  box-shadow: 0 4px 8px rgba(52, 152, 219, 0.3); /* Adds a subtle shadow */
  box-sizing: border-box; /* Include padding and border in the total width and height */
}

/* Remove default form control border-radius */
.input-group .form-control {
  border-radius: 0;
}

/* Oval Form Control Focus Styling */
.oval-form-control:focus {
  border-color: #2980b9; /* Darker border color on focus */
  outline: none; /* Remove default outline */
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.5); /* Add a glow effect on focus */
}

