/* DETAIL PAGE */
/* src/components/DetailCard.css */
.detail-container {
  margin-top: 5rem;
}

.detail-card {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to right, #1e1a29, #381e42);
  border: 2px solid white; /* White border around the image */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

.detail-card-container {
  display: flex;
  flex-direction: column; /* Make the container stack vertically */
  align-items: center; /* Center the content horizontally */
}

.detail-image {
  width: 300px !important;
  height: 420px !important;
  margin-bottom: 2px !important; /* Space between image and text */
  border: 2px solid white !important; /* White border around the image */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5) !important; /* White shadow around the image */
}

/* Specific styles for different media types */
.detail-image-album {
  width: 400px !important;
  height: 385px !important;
}

.detail-image-game {
  width: 850px !important;
  height: 400px !important;
}

.detail-image-movie {
  width: 150px;
  height: 375px;
}

.detail-body {
  text-align: center; /* Center text content */
}

.detail-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.detail-text {
  margin-top: 10px;
  font-size: 1rem;
  color: white;
}

.detail-buttons {
  margin-top: 20px;
  display: flex; /* Align buttons in a row */
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Space between buttons */
}


