.friend-page-container {
  display: flex;
  width: 95%;
  height: 800px;
  background: #1c1c1c;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 20px;
  gap: 1rem;
  margin: 1rem auto;
}

.friend-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.friend-section.left {
  border-right: 2px solid #444;
  padding-right: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.friend-search {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  background: #333;
  color: white;
  border: 1px solid #555;
}

.scroll-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: #2a2a2a;
  border-radius: 10px;
}

.friend-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.sub-section {
  flex: 1;
  margin-bottom: 20px;
}

.primaryButton {
  padding: 6px 12px;
  background: #00aaff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.secondaryButton {
  padding: 6px 12px;
  background: #ff4c4c;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 8px;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}
