
/* Searchbar Styles */
/* ############################################################################################### */
.search-bar {
  background-color: #353436; /* Change this to your preferred background color */
  padding: 1rem 0;
}

.search-bar .search-bar-form {
  display: flex;
}

.search-bar .form-control {
  background-color: #fff; /* Change this to your preferred form background color */
  font-family: 'Roboto', sans-serif; /* Change this to your preferred font */
  font-size: 1rem; /* Adjust font size */
  color: #000; /* Change this to your preferred text color */
}

.search-bar .button-search {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, var(--three-purple) 0, var(--one-purple) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.search-bar .button-search:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.search-bar .button-search:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.search-bar .button-search:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}

/* Clear button specific styles */
.search-bar .button-clear {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, var(--three-purple) 0, var(---four-purple) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.search-bar .button-clear:focus {
  box-shadow: var(--two-purple) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
}

.search-bar .button-clear:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--two-purple) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.search-bar .button-clear:active {
  box-shadow: var(--two-purple) 0 3px 7px inset;
  transform: translateY(2px);
}

@media (min-width: 768px) {
  .search-bar .form-control {
    font-size: 1.25rem; /* Adjust font size for larger screens */
  }
}
