/* Applies to all custom tables */
.whimsy-table-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.whimsy-table-wrapper {
  width: 100%;
  max-width: 1200px;
}

.whimsy-table {
  width: 100%;
  border-collapse: collapse;
}

.whimsy-table img {
  width: 60px;
  height: auto;
  border-radius: 5px;
}

.whimsy-table thead th {
  background-color: #343a40; /* dark background */
  color: white;
  text-align: center;
}

.whimsy-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.whimsy-table td,
.whimsy-table th {
  padding: 0.75rem;
  vertical-align: middle;
  text-align: center;
}
