.mainPage {
  padding: 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.searchBar {
  display: flex;
}

.searchInput {
  padding: 5px;
  font-size: 1rem;
}

.searchButton {
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.navButtons {
  display: flex;
}

.navButton {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.searchResults {
  margin-top: 20px;
}

.resultItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.resultImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.resultInfo {
  display: flex;
  flex-direction: column;
}

.mediaList {
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap to the next line if space is insufficient */
  gap: 20px; /* Add gap between items */
  margin-top: 20px; /* Adjust margin as needed */
}